nav {
    background: #000000;
    margin: 0 auto;
}

nav ul {
    display: flex !important;
    flex-direction: row !important;
    // justify-content: flex-end;
    list-style: none;
    //padding: 0.8rem 0;
}

nav ul li {
    padding: 10px;
}

#navbarNav {
    justify-content: flex-end;
}
